.digital-clock {
    font-family: "Nixie One", system-ui;
    background-color: #000;
    color: #fff;
    display: flex;
    border-radius: 2rem;
    user-select: none;
    padding: 0 2rem;
    border: .5rem solid #fff;
    justify-content: center;
    align-items: center;
}

.day-of-week {
    font-family: "Nixie One", system-ui;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4rem;
    color: #2d2d2d;
    padding: 0 2rem;
}

.day-of-week .active {
    color: #fff
}

.time {
    font-family: "Nixie One", system-ui;
    font-size: 10rem;
}

.hour,
.minute,
.separator,
.second {
    display: inline-block;
    color: #2d2d2d;
}

.min {
    display: math;
}

.invisible {
    visibility: hidden;
}

@media (max-width: 760px) {

    .day-of-week {
        font-size: 0.8rem;
    }

    .time, .hour, .minute, .separator, .second {
        font-size: 5rem;
    }
}