/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.digital-clock {
    font-family: "Nixie One", system-ui;
    background-color: #000;
    color: #fff;
    display: flex;
    border-radius: 2rem;
    user-select: none;
    padding: 1rem;
    border: .5rem solid #fff;
    justify-content: center;
    align-items: center;
}

.day-of-week {
    font-family: "Nixie One", system-ui;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4rem;
    color: #2d2d2d;
    padding: 0 1rem;
}

.day-of-week .active {
    color: #fff
}

.time {
    font-family: "Nixie One", system-ui;
    font-size: 10rem;
    display: flex;
}

.hour,
.minute,
.separator,
.second {
    display: inline-block;
    color: #2d2d2d;
}

  .separator

.min {
    display: math;
}

.invisible {
    visibility: hidden;
}

@media (max-width: 760px) {

    .day-of-week {
        font-size: 0.8rem;
    }

    .time, .hour, .minute, .separator, .second {
        font-size: 5rem;
    }
}

@media (max-width: 500px) {
    .day-of-week {
        font-size: 0.6rem;
    }

    .time, .hour, .minute, .separator, .second {
        font-size: 2rem;
    }
}